@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    h1 {
        @apply text-center text-5xl md:text-left xl:text-[64px];
    }
    h2 {
        @apply text-center text-3xl md:text-left md:text-5xl;
    }
    blockquote {
        @apply ml-3 border-l-2 border-brand-black;
    }
    a {
        @apply text-blue-500 decoration-0;
    }
}

@layer utilities {
    .hamburger-toggle {
        @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:h-0 [&>div]:bg-white;
    }
}

:root {
    /* Define CSS variables for scrollbar colors */
    --scrollbar-track-color: theme('colors.brand-black'); /* Default track color */
    --scrollbar-thumb-color: #f1f1f1; /* Default thumb color */
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    transition: color 200ms ease;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
    transition: color 200ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
