---
import {getPost, getPosts, type Post } from '../../../utils/sanity';

export async function getStaticPaths() {
    const posts = await getPosts();
    return posts.map((post: Post) => ({
        params: {slug: post.slug.current, category: post.category.title.toLowerCase()},
    }));
}

const { slug } = Astro.params

const post = await getPost(slug);
---
<h1>{post.title}</h1>