---
export async function getStaticPaths() {
  return [
    { params: { slug: 'welcome-to-archytech' } },
    { params: { slug: 'build-with-achrytech' } },
    { params: { slug: 'save-money-with-archytech' } }
  ];
}

const { slug } = Astro.params;
---
<h1>{slug}</h1>