---
import type { Params } from 'astro';
import {getPost } from '../../../utils/sanity';

export const prerender = false;

const { slug } = Astro.params as Params;

const post = await getPost(slug ?? '');
---
<h1>{post.author}</h1>