---
export async function getStaticPaths() {
  return [
    { params: { category: 'news', slug: 'welcome-to-archytech' } },
    { params: { category: 'tips', slug: 'build-with-achrytech' } },
    { params: { category: 'tips', slug: 'save-money-with-archytech' } }
  ];
}

const { category, slug } = Astro.params;
---
<h1>{category}</h1>
<h1>{slug}</h1>