---
export async function getStaticPaths() {
    return [
        { params: { category: 'news'} },
        { params: { category: 'tips' } },
        { params: { category: 'articles' } }
    ]
}

const { category } = Astro.params;
---

<h1>{category}</h1>