---
import { getCategories, getPosts, type Category, type Post } from '../../../utils/sanity';

export async function getStaticPaths() {
    const paths: any = [];
    const categories = await getCategories();
    categories.map((cat: Category) => {
        let categoryName = cat.slug.current;
        paths.push({ params: { category: categoryName } });
    });
    return paths;
}

const { category } = Astro.params;
---

<h1>{category}</h1>
