---
export async function getStaticPaths() {
  return [
    { params: { category: 'news' } },
    { params: { category: 'articles' } },
    { params: { category: 'tips' } }
  ];
}

const { category } = Astro.params;
---

<h1>{category}</h1>