---
import { Image } from 'astro:assets';
---

<nav class='fixed z-50 w-full items-center top-0 flex justify-between'>
    <a class='ml-4 mt-10 lg:ml-10 lg:mt-14' href='/' aria-label='Home'>
        <svg
            id='logo'
            class='h-[35px] w-[35px] lg:h-[51px] lg:w-[43px] duration-300 transition-all fill-white transform'
            viewBox='0 0 43 51'
            xmlns='http://www.w3.org/2000/svg'
        >
            <path
                d='M5.08594 51H1.99219L19.3125 3H22.6875L40.0078 51H36.9141L21.1172 6.77344H20.8828L5.08594 51ZM9.46875 32.9297H32.5313V35.6484H9.46875V32.9297Z'
            ></path>
            <rect x='19' y='3' width='4' height='48'></rect>
            <rect x='33' width='4' height='24' transform='rotate(90 33 0)'></rect>
        </svg>
    </a>
    <div
        id='menu-toggle'
        class='grid h-6 cursor-pointer w-6 place-content-center mr-6 mt-10 lg:mr-10 lg:mt-14'
    >
        <div
            id='menu-toggle-element'
            class="h-[3px] transform rounded-full bg-white w-6 transition-all duration-0 before:absolute before:h-[3px] before:w-6 before:-translate-y-2 before:transform before:rounded-full before:bg-white before:transition-all before:duration-200 before:content-[''] after:absolute after:h-[3px] after:w-6 after:translate-y-2 after:transform after:rounded-full after:bg-white after:transition-all after:duration-200 after:content-['']"
        >
        </div>
    </div>
</nav>
<div
    id='menu'
    class='bg-brand-black top-0 bg-opacity-95 z-40 fixed bottom-0 right-0 left-0 transform translate-x-full invisible transition-all duration-500 ease-in-out'
>
    <div class='flex h-full w-full flex-col items-center justify-center space-y-6'>
        <ul class='text-3xl space-y-6 text-center'>
            <li class='transform duration-200 hover:-translate-y-1'>
                <a
                    href='/studio'
                    class='relative text-white after:bg-purple-950 after:absolute after:h-0.5 after:w-0 after:-bottom-1 after:left-0 hover:after:w-full after:transition-all after:duration-200 cursor-pointer'
                    >Studio</a
                >
            </li>
            <li class='transform duration-200 hover:-translate-y-1'>
                <a
                    href='/team'
                    class='relative text-white after:bg-red-500 after:absolute after:h-0.5 after:w-0 after:-bottom-1 after:left-0 hover:after:w-full after:transition-all after:duration-200 cursor-pointer'
                    >Team</a
                >
            </li>
            <li class='transform duration-200 hover:-translate-y-1'>
                <a
                    href='/projects'
                    class='relative text-white after:bg-green-500 after:absolute after:h-0.5 after:w-0 after:-bottom-1 after:left-0 hover:after:w-full after:transition-all after:duration-200 cursor-pointer'
                    >Projects</a
                >
            </li>
            <li class='transform duration-200 hover:-translate-y-1'>
                <a
                    href='/blog'
                    class='relative text-white after:bg-orange-500 after:absolute after:h-0.5 after:w-0 after:-bottom-1 after:left-0 hover:after:w-full after:transition-all after:duration-200 cursor-pointer'
                    >Blog</a
                >
            </li>
            <li class='transform duration-200 hover:-translate-y-1'>
                <a
                    class='relative text-white after:bg-orange-500 after:absolute after:h-0.5 after:w-0 after:-bottom-1 after:left-0 hover:after:w-full after:transition-all after:duration-200 cursor-pointer'
                    href='/contact'>Contact</a
                >
            </li>
        </ul>
    </div>

    <script src='../scripts/navbar.ts'></script>
</div>
