---
import cabinHouseProject from '../assets/images/Cabin-House-Project.png';
import cabinHouseProjectSM from '../assets/images/Cabin-House-Project-SM.png';
import CustomImage from './CustomImage.astro';
import { Image } from 'astro:assets'
---

<a class='relative group items-center justify-center flex flex-col text-white' href=`/projects/first`>
    <!-- {
            post.mainImage ? (
                <div class='flex bg-orange-500 bg-opacity-10 p-4 items-center justify-center'>
                    <Image
                        src={urlFor(post.mainImage)?.url() ?? heroImage}
                        alt='Cover Image'
                        height='300'
                        width='400'
                    />
                </div>
            ) : (
                <div class='bg-brand-black bg-opacity-10 w-full' />
            )
        } -->
        <!-- Mobile Image -->
            <!-- <Image
                class='w-full group-hover:blur-sm block md:hidden'
                src={cabinHouseProjectSM}
                alt='Mobile Newsletter Image'
            /> -->
            <!-- Desktop Image -->
            <!-- <Image
                class='w-full hidden md:block group-hover:blur-sm'
                src={cabinHouseProject}
                alt='Desktop Newsletter Image'
            /> -->
    <CustomImage
        mobileImgUrl={cabinHouseProjectSM}
        desktopImgUrl={cabinHouseProject}
        imageSizes={[
            [327, 448],
            [358, 448],
        ]}
        alt=`Project Image`
        classList='group-hover:blur-sm w-full'
    />
    <p class='hidden z-20 absolute bottom-6 left-6 text-xl text-start group-hover:block'>
        Cabin House
    </p>
    <span
        class='hidden bg-brand-black bg-blend-luminosity bg-opacity-20 z-10 absolute w-full h-full group-hover:block'
    ></span>
</a>
