---
export async function getStaticPaths() {
    return [
        { params: { project: 'first' } },
        { params: { project: 'second' } },
        { params: { project: 'third' } },
    ];
}

const { project } = Astro.params;
---

<h1>{project}</h1>
