---
export async function getStaticPaths() {
  return [
    { params: { project: 1 } },
    { params: { project: 2 } },
    { params: { project: 3 } }
  ];
}

const { project } = Astro.params;
---

<h1>{project}</h1>