---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const projects = await getCollection('projects')
    return projects.map((project: any) => ({
        params: {
            project: project.data.slug, 
        },
        props: { project }
    }))
}

const { project } = Astro.props;
---

<h1>{project.data.projectName}</h1>
