---
import Hero from '../../components/Hero.astro';
import ScrollProgress from '../../components/ScrollProgress.astro';
import Layout from '../../layouts/Layout.astro';
import heroImage from '../../assets/images/Projects-Hero.png';
import heroImageSM from '../../assets/images/Projects-Hero-SM.png';
---

<Layout
    title='Projects - Archytech'
    description='Successful Projects Completed and In Progress for Archytech'
    robots={false}
>
    <Hero heroBackgroundImgSrcList={[heroImageSM, heroImage]}>
        <div
            class='bottom-10 z-20 md:pl-16 lg:pl-24 absolute flex w-full flex-col space-y-8 md:space-y-10'
        >
            <h2 class='hero-h1 bottom-0 tracking-wide'>Projects</h2>
            <ScrollProgress
                isHeroScrollProgress={true}
                barColor='bg-brand-black'
                progressColor='bg-brand-gray'
                barHeight='h-48 lg:h-56'
                progress='bottom-[75%]'
            />
        </div>
        <div
            class='bg-brand-black bg-blend-luminosity md:backdrop-blur-xl bg-opacity-50 z-10 absolute top-0 left-0 w-full md:w-[43%] h-full'
        >
        </div>
    </Hero>
    <main class='w-full items-center justify-center'>
        <div class='flex flex-col space-y-4 items-start py-8 lg:py-24 lg:px-16 px-4'>
            <button
                id='residential-filter-button'
                class='text-brand-black text-lg hover:text-brand-gray'>RESIDENTIAL</button
            >
            <span
                id='residentual-underline'
                class='after:absolute after:block after:w-[70px] after:h-[3px] after:bg-brand-black after:mt-2 after:rounded-full'
            ></span>
            <button
                id='commercial-filter-button'
                class='text-brand-black text-lg hover:text-brand-gray'>COMMERCIAL</button
            >
            <span
                id='commercial-underline'
                class='after:absolute after:block after:w-[70px] after:h-[3px] after:bg-brand-black after:mt-2 after:rounded-full'
            ></span>
            <button
                id='in-progress-filter-button'
                class='text-brand-black text-lg hover:text-brand-gray'>IN PROGRESS</button
            >
            <span
                id='in-progress-underline'
                class='after:absolute after:block after:w-[70px] after:h-[3px] after:bg-brand-black after:mt-2 after:rounded-full'
            ></span>
        </div>
    </main>
</Layout>
