---
import Layout from '../layouts/Layout.astro';
import heroImageSM from '../assets/images/Home-Hero-SM.png';
import svgOverlay from '../assets/svg/mobile-home-hero-mask.svg';
import { Image } from 'astro:assets';
import Icon from '../components/Icon.astro';
---

<Layout title='Landing - Construx' description='Build with Construx' robots={false}>
    <header class='relative'>
        <div class='absolute -top-[85px] z-20 *:h-fit *:w-screen md:hidden'>
            <Icon icon='mobile-home-hero-mask' />
        </div>
        <div class='relative'>
            <Image
                class='block w-screen md:hidden'
                src={heroImageSM}
                alt='Home Page Mobile Hero Image'
                width='375'
                height='812'
                loading='eager'
            />
            <h1
                class='absolute bottom-5 z-20 pl-4 pr-20 text-start font-bold uppercase leading-[60px] tracking-wide text-white'
            >
                building your future homes
            </h1>
        </div>
        <div class='absolute left-0 top-0 z-10 h-full w-full bg-black bg-opacity-40'></div>
        <!-- Desktop Hero
        <Image
            class='absolute inset-0 hidden h-full w-full object-cover object-center md:block'
            src={heroBackgroundImgSrcList[1]}
            alt={alt}
            width='1440'
            height='1024'
            loading='eager'
        /> -->
    </header>
    <main class=''>
        <section class='container'>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
        </section>
    </main>
</Layout>
