@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
}

.css {
}

@layer components {
    .cta-btn {
    }
}

@layer utilities {
    .left-to-right-text-color {
        font-size: 64px;
        font-weight: bold;
        background: linear-gradient(to left, black 50%, red 50%);
        background-size: 200% 100%;
        background-position: right;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 0.5s ease-out;
    }
    .left-to-right-text-color:hover {
        background-position: left;
    }
}
