---
export async function getStaticPaths() {
  return [
    { params: { member: 1 } },
    { params: { member: 2 } },
    { params: { member: 3 } }
  ];
}

const { member } = Astro.params;
---

<h1>{member}</h1>