---

---

<div class='flex max-h-[530px] w-full rounded-2xl py-4'>
    <div class='w-2/3 items-center justify-center bg-[#d9d9d9] py-24'>
        <form action='/'></form>
    </div>
    <div class='mr-10 flex w-1/3 flex-col items-start justify-center bg-white py-24'>
        <h3 class='mb-4 ml-10 text-xl font-bold leading-[30px]'>Contact Information</h3>
        <div class='mb-4 ml-10 flex items-center space-x-6'>
            <a
                href='https://maps.google.com/?q=0000+Design+Drive+Denver+Colorado'
                class=`flex items-center justify-center p-1.5 h-8 w-8 rounded-full bg-black hover:opacity-50`
                aria-label='Construx Location Link'
            >
                <span class='icon-[ep--location] h-6 w-6 text-white'></span>
            </a>
            <div class='flex flex-col space-y-1'>
                <span class='font-bold leading-[30px] text-[#303136]'>Cnstrx Office</span>
                <span class='text-sm text-[#303136]'>000 Parkway Blg. 16</span>
                <span class='text-sm text-[#303136]'>Colorado Springs, CO</span>
            </div>
        </div>
        <div class='mb-4 ml-10 flex items-center space-x-6'>
            <a
                href=`tel:000000000`
                class=`flex items-center justify-center h-8 w-8 p-1.5 rounded-full bg-black hover:opacity-50`
                aria-label='Construx Location Link'
            >
                <span class='icon-[mage--phone] h-6 w-6 text-white'></span>
            </a>
            <div class='flex flex-col space-y-1'>
                <span class='font-bold leading-[30px] text-[#303136]'>Call Us</span>
                <span class='text-sm text-[#303136]'>000-000-0000</span>
            </div>
        </div>
        <div class='mb-4 ml-10 flex items-center space-x-6'>
            <a
                href='mailto:mail@construx.construction'
                class=`flex items-center justify-center p-1.5 h-8 w-8 rounded-full bg-black hover:opacity-50`
                aria-label='Construx Location Link'
            >
                <span class='icon-[eva--email-outline] h-6 w-6 text-white'></span>
            </a>
            <div class='flex flex-col space-y-1'>
                <span class='font-bold leading-[30px] text-[#303136]'>Mail Us</span>
                <span class='text-sm text-[#303136]'>mail@construx.construction</span>
            </div>
        </div>
        <div class='mb-4 ml-10 flex items-center space-x-6'>
            <a
                href='https://maps.google.com/?q=0000+Design+Drive+Denver+Colorado'
                class=`flex items-center justify-center p-1.5 h-8 w-8 rounded-full bg-black hover:opacity-50`
                aria-label='Construx Location Link'
            >
                <span class='icon-[ri--building-4-line] h-6 w-6 text-white'></span>
            </a>
            <div class='flex flex-col space-y-1'>
                <span class='font-bold leading-[30px] text-[#303136]'>Opening Hours</span>
                <span class='text-sm text-[#303136]'>Mon-Fri: 8AM - 5PM</span>
                <span class='text-sm text-[#303136]'>Sat-Sun: CLOSED</span>
            </div>
        </div>
    </div>
</div>
