---

---

<nav class='z-30 pt-10'>
    <div class='container flex items-center justify-between'>
        <a href='/'>LOGO</a>
        <div class='flex space-x-[18px]'>
            <button class='icon-[iconamoon--search-light] h-8 w-8'></button>
            <a
                href=`tel:0000000000`
                class='bg-brand-orange flex h-8 w-8 items-center justify-center rounded-[5px] hover:opacity-50'
            >
                <span class='icon-[mage--phone] h-6 w-6 text-white'></span>
            </a>
        </div>
    </div>
</nav>
