---

---

<nav class='z-30 pt-10'>
    <span
        id='menu-span'
        class='bg-brand-orange ease--in-out fixed bottom-10 right-6 z-50 h-16 w-16 rounded-full transition-all'
    >
    </span>
    <button
        id='menu-toggle'
        class='fixed bottom-[60px] right-11 z-50 grid h-6 w-6 cursor-pointer place-content-center'
    >
        <div
            id='menu-toggle-element'
            class="flex h-[3px] w-7 transform items-center justify-center bg-white transition-all duration-0 before:absolute before:h-[3px] before:w-7 before:-translate-y-2 before:transform before:bg-white before:transition-all before:duration-200 before:content-[''] after:absolute after:h-[3px] after:w-7 after:translate-y-2 after:transform after:bg-white after:transition-all after:duration-200 after:content-['']"
        >
        </div>
    </button>

    <div class='container flex items-center justify-between'>
        <a href='/'>LOGO</a>
        <div class='flex space-x-[18px]'>
            <button class='icon-[iconamoon--search-light] h-8 w-8'></button>
            <a
                href=`tel:0000000000`
                class='bg-brand-orange flex h-8 w-8 items-center justify-center rounded-[5px] hover:opacity-50'
            >
                <span class='icon-[mage--phone] h-6 w-6 text-white'></span>
            </a>
        </div>
    </div>
</nav>
<script src='../scripts/navbar.ts'></script>
