---

---

<nav class='z-30 pt-10'>
    <span
        id='menu-span'
        class='ease--in-out fixed bottom-10 right-6 z-50 h-16 w-16 rounded-full bg-brand-green-secondary transition-all md:hidden'
    >
    </span>
    <button
        id='menu-toggle'
        aria-label='Menu Button'
        class='fixed bottom-[60px] right-11 z-50 grid h-6 w-6 cursor-pointer place-content-center md:hidden'
    >
        <div
            id='menu-toggle-element'
            class="flex h-[3px] w-7 transform items-center justify-center bg-white transition-all duration-0 before:absolute before:h-[3px] before:w-7 before:-translate-y-2 before:transform before:bg-white before:transition-all before:duration-200 before:content-[''] after:absolute after:h-[3px] after:w-7 after:translate-y-2 after:transform after:bg-white after:transition-all after:duration-200 after:content-['']"
        >
        </div>
    </button>

    <div class='container flex items-center justify-between'>
        <a href='/'>LOGO</a>
        <div class='hidden items-center justify-center space-x-8 lg:flex'>
            <a
                href='/about'
                class='cursor-pointer capitalize leading-relaxed text-gray-800 hover:opacity-30'
                >about</a
            >
            <a
                href='/services'
                class='cursor-pointer capitalize leading-relaxed text-gray-800 hover:opacity-30'
                >services</a
            >
            <a
                href='/portfolio'
                class='cursor-pointer capitalize leading-relaxed text-gray-800 hover:opacity-30'
                >portfolio</a
            >
            <a
                href='/blog'
                class='cursor-pointer capitalize leading-relaxed text-gray-800 hover:opacity-30'
                >blog</a
            >
            <a
                href='/careers'
                class='cursor-pointer capitalize leading-relaxed text-gray-800 hover:opacity-30'
                >careers</a
            >
        </div>
        <div class='flex items-center justify-center space-x-[18px]'>
            <div class='flex items-center space-x-2 lg:mr-8'>
                <button class='icon-[iconamoon--search-light] h-8 w-8' aria-label='Search Button'>
                </button>
                <span class='hidden leading-relaxed tracking-wide lg:inline-block'> Search </span>
            </div>

            <a
                href=`tel:0000000000`
                aria-label='Call Button'
                class='flex h-8 w-8 items-center justify-center rounded-[5px] bg-brand-green-secondary hover:opacity-50 lg:h-[38px] lg:w-[132px] lg:rounded-xl lg:px-8 lg:py-3'
            >
                <span class='icon-[mage--phone] h-6 w-6 lg:hidden'></span>
                <span class='hidden font-medium tracking-tight lg:block'>Contact</span>
            </a>
        </div>
    </div>
</nav>
<script src='../scripts/navbar.ts'></script>
