---
import Icon from './Icon.astro';

interface Props {
    icon: string;
    service: string;
    description: string;
}

const { icon, service, description } = Astro.props;
---

<div class='perspective-1000'>
    <div
        class='service-card initial-fold flex w-full max-w-[375px] flex-col items-center justify-center space-y-7 rounded-lg'
    >
        <Icon icon={icon} />
        <p class='text-center text-2xl font-bold capitalize'>{service}</p>
        <p class='text-center leading-8'>{description}</p>
    </div>
</div>
