---
import Icon from './Icon.astro';
import linkArrow from '../assets/svg/link-arrow.svg?raw';

interface Props {
    icon: string;
    service: string;
    description: string;
}

const { icon, service, description } = Astro.props;
---

<div class='perspective-1000'>
    <div
        class='service-card initial-fold flex w-full max-w-[375px] flex-col items-center justify-center space-y-7 rounded-lg'
    >
        <Icon icon={icon} />
        <p class='text-center text-2xl font-bold capitalize'>{service}</p>
        <p class='text-center leading-8'>{description}</p>
    </div>
</div>

<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const cards = document.querySelectorAll('.service-card');

        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add('animate-foldDown');
                        entry.target.classList.remove('initial-fold');
                        observer.unobserve(entry.target); // Stop observing once the animation is applied
                    }
                });
            },
            {
                threshold: 0.99, // Adjust the threshold as needed
            },
        );

        cards.forEach((card) => {
            observer.observe(card);
        });
    });
</script> -->
