---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Page Not Found' description='Oops! Page Not Found' robots={true}>
    <main class='flex h-[80%] w-full flex-col items-center justify-center space-y-16'>
        <h1 class='text-center font-visby-medium text-6xl text-brand-red'>Oops! Page Not Found.</h1>
        <a href='/' class='btn-join'>Go to Home Page</a>
    </main>
</Layout>
