---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Feature from '../components/Feature.astro';
import PricingComponent from '../components/PricingComponent';
---

<Layout
    title='Discover Your Perfect-Fit Childcare and Stay Connected in Real-Time | NurtureLume'
    description="Find local childcare options for your family and receive real-time updates on your child's activities"
    robots={false}
>
    <Hero
        header='Families'
        subHeader="Explore local childcare options for your family and receive real-time updates on your child's activities"
    />
    <main class='mb-10 flex w-full flex-col space-y-16 px-4 md:px-10 lg:px-16 xl:px-24'>
        <h3 class='text-center font-visby-medium text-5xl text-black'>
            Essential Features for Finding Your Perfect-Fit Care
        </h3>
        <section
            class='flex w-full flex-col items-center justify-center lg:flex-row lg:items-start lg:justify-start'
        >
            <div class='mb-6 flex flex-col text-center lg:w-1/2 lg:text-start'>
                <h4 class='font-visby-heavy text-sm text-brand-blue'>Childcare Marketplace</h4>
                <p class='font-visby-heavy text-2xl text-black'>
                    Explore our childcare marketplace's advanced features
                </p>
            </div>
            <div
                class='flex w-full flex-col items-center justify-center space-y-10 lg:w-1/2 lg:flex-row lg:items-stretch lg:space-y-0'
            >
                <div
                    class='flex flex-col items-center justify-center space-y-10 lg:w-1/2 lg:space-y-12'
                >
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Find your caregiver'
                        subHeader='blank blank blank blank'
                    />
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Request daycare enrollment'
                        subHeader='blank blank blank blank'
                    />
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Request background checks'
                        subHeader='blank blank blank blank'
                    />
                </div>
                <div class='flex flex-col space-y-10 lg:w-1/2 lg:space-y-12'>
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Post a childcare job'
                        subHeader='You can create a public and private jobs for individual care givers'
                    />
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Review & ratings for providers'
                        subHeader='blank blank blank blank'
                    />
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Direct message potential childcare providers'
                        subHeader='blank blank blank blank'
                    />
                </div>
            </div>
        </section>
        <hr />
        <section
            class='flex w-full flex-col items-center justify-center lg:flex-row lg:items-start lg:justify-start'
        >
            <div class='mb-6 flex flex-col text-center lg:w-1/2 lg:text-start'>
                <h4 class='font-visby-heavy text-sm text-brand-orange'>Enhanced Communication</h4>
                <p class='font-visby-heavy text-2xl text-black'>
                    Stay updated on your child's activities in real-time
                </p>
            </div>
            <div
                class='flex w-full flex-col items-center justify-center space-y-10 lg:w-1/2 lg:flex-row lg:items-stretch lg:space-y-0'
            >
                <div
                    class='flex flex-col items-center justify-center space-y-10 lg:w-1/2 lg:space-y-12'
                >
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-orange'
                        header='Daily activity log'
                        subHeader='blank blank blank blank'
                    />
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-orange'
                        header='Instant messaging'
                        subHeader='blank blank blank blank'
                    />
                </div>
                <div class='flex flex-col space-y-10 lg:w-1/2 lg:space-y-12'>
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-orange'
                        header='Photos & videos'
                        subHeader='You can create a public and private jobs for individual care givers'
                    />
                </div>
            </div>
        </section>
        <hr />
        <section
            class='flex w-full flex-col items-center justify-center lg:flex-row lg:items-start lg:justify-start'
        >
            <div class='mb-6 flex flex-col text-center lg:w-1/2 lg:text-start'>
                <h4 class='font-visby-heavy text-sm text-brand-blue'>Management</h4>
                <p class='font-visby-heavy text-2xl text-black'>
                    Explore our childcare marketplace's advanced features
                </p>
            </div>
            <div
                class='flex w-full flex-col items-center justify-center space-y-10 lg:w-1/2 lg:flex-row lg:items-stretch lg:space-y-0'
            >
                <div
                    class='flex flex-col items-center justify-center space-y-10 lg:w-1/2 lg:space-y-12'
                >
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Create & customize your profile'
                        subHeader='blank blank blank blank'
                    />
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='View metrics'
                        subHeader='blank blank blank blank'
                    />
                </div>
                <div class='flex flex-col space-y-10 lg:w-1/2 lg:space-y-12'>
                    <Feature
                        icon='icon-[material-symbols--search-rounded]'
                        backgroundColor='bg-brand-blue'
                        header='Setup child profile'
                        subHeader='You can create a public and private jobs for individual care givers'
                    />
                </div>
            </div>
        </section>
        <hr />
        <section class='flex flex-col items-center justify-center space-y-4'>
            <h3 class='font-visby-medium text-5xl text-black'>Refer and Earn!</h3>
            <h4 class='font-visby-medium text-2xl text-brand-gray-2'>Two ways to earn</h4>
            <br />
            <div
                class='flex flex-col items-center space-y-6 lg:flex-row lg:space-x-10 lg:space-y-0'
            >
                <div
                    class='flex h-[11rem] w-[22rem] flex-col items-center justify-center space-y-4 rounded-xl p-6 shadow-md shadow-gray-400 lg:w-[28rem]'
                >
                    <h5 class='text-center font-visby-heavy text-xl'>Tell a parent</h5>
                    <p class='text-center font-visby-medium text-black'>
                        Refer a parent to NurtureLume and have them sign up with your referral link
                    </p>
                </div>
                <span class='icon-[maki--arrow] h-12 w-12 rotate-90 lg:rotate-0'></span>
                <div
                    class='flex h-[11rem] w-[22rem] flex-col items-center justify-center space-y-4 rounded-xl p-6 shadow-md shadow-gray-400 lg:w-[28rem]'
                >
                    <h5 class='text-center font-visby-heavy text-xl'>You earn up to $25</h5>
                    <p class='text-center font-visby-medium text-black'>
                        You earn $15 if the parent signs up for a free account and $25 if they sign
                        up for a premium account. They must spend $50 to earn reward.
                    </p>
                </div>
            </div>
            <br />
            <br class='' />
            <div
                class='flex flex-col items-center space-y-6 lg:flex-row lg:space-x-10 lg:space-y-0'
            >
                <div
                    class='flex h-[11rem] w-[22rem] flex-col items-center justify-center space-y-4 rounded-xl p-6 shadow-md shadow-gray-400 lg:w-[28rem]'
                >
                    <h5 class='text-center font-visby-heavy text-xl'>
                        Tell your babysitter or nanny
                    </h5>
                    <p class='text-center font-visby-medium text-black'>
                        Refer your babysitter or nanny to NurtureLume and have them sign up with
                        your referral link
                    </p>
                </div>
                <span class='icon-[maki--arrow] h-12 w-12 rotate-90 lg:rotate-0'></span>
                <div
                    class='flex h-[11rem] w-[22rem] flex-col items-center justify-center space-y-4 rounded-xl p-6 shadow-md shadow-gray-400 lg:w-[28rem]'
                >
                    <h5 class='text-center font-visby-heavy text-xl'>You earn up to $25</h5>
                    <p class='text-center font-visby-medium text-black'>
                        You earn $15 if the babysitter or nanny signs up for a free account and $25
                        if they sign up for a premium account. They must earn $50 to earn reward.
                    </p>
                </div>
            </div>
            <br />
            <br class='' />
            <div
                class='flex flex-col items-center space-y-6 lg:flex-row lg:space-x-10 lg:space-y-0'
            >
                <div
                    class='flex h-[11rem] w-[22rem] flex-col items-center justify-center space-y-4 rounded-xl p-6 shadow-md shadow-gray-400 lg:w-[28rem]'
                >
                    <h5 class='text-center font-visby-heavy text-xl'>Tell your daycare center</h5>
                    <p class='text-center font-visby-medium text-black'>
                        Refer the daycare center administrator to NurtureLume and have them sign up
                        with your referral link
                    </p>
                </div>
                <span class='icon-[maki--arrow] h-12 w-12 rotate-90 lg:rotate-0'></span>
                <div
                    class='flex h-[11rem] w-[22rem] flex-col items-center justify-center space-y-4 rounded-xl p-6 shadow-md shadow-gray-400 lg:w-[28rem]'
                >
                    <h5 class='text-center font-visby-heavy text-xl'>You earn $100</h5>
                    <p class='text-center font-visby-medium text-black'>
                        You earn $100 after the daycare center completes one full month of their
                        subscription
                    </p>
                </div>
            </div>
        </section>
        <section class='flex flex-col items-center justify-center space-y-6'>
            <h3 class='text-center font-visby-medium text-5xl text-black'>Pricing Plans</h3>
            <h4 class='mt-2 text-center font-visby-medium text-2xl text-brand-gray-2'>
                Two ways to earn
            </h4>
            <PricingComponent userType='family' client:visible />
        </section>
    </main>
</Layout>
