---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="Landing - Archytech" description="Build with Archytech" robots={false}>
	<Hero />
	<main class="h-[8000px]">
		<h1>Hello</h1>
	</main>
</Layout>
