---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title='Landing - Archytech' description='Build with Archytech' robots={false}>
    <Hero>
        <p class='text-white mt-48'>We believe in</p>
        <h1 class='text-white text-left text-5xl'>Great Architecure</h1>
        <p class='text-white'>
            The foremost marketplace for designing and constructing houses globally, distinguished
            for its unparalleled reliability and trustworthiness.
        </p>
        <div class='flex space-x-6 items-center'>
            <div class='flex flex-col'>
                <span class='w-2 h-12 border-l-2 border-solid border-brand-gray'></span>
                <span class='w-2 h-24 border-l-2 border-solid border-brand-black'></span>
            </div>
            <p class='text-brand-gray'>Scroll to see how we work</p>
        </div>
    </Hero>
    <main class='h-[8000px]'></main>
</Layout>
