---
import { urlFor } from '../utils/image';
import { formatDate } from '../utils';
import { type Post } from '../utils/sanity';
import heroImage from '../assets/images/Hero-Image.png';
import { Image } from 'astro:assets';

interface Props {
    post: Post;
}

const { post } = Astro.props satisfies Props;
---

<article
    class='flex w-[90%] flex-col items-center duration-200 hover:scale-105 space-y-6 justify-center border-2 shadow-md shadow-brand-blue rounded-m md:w-[70%] lg:w-full'
>
    <a class='font-visby-medium w-full h-full text-black' href=`/blog/${post.slug.current}`>
        <p class='font-visby-medium p-4 text-xl text-brand-purple place-self-start'>
            {formatDate(post._createdAt)}
        </p>
        {
            post.mainImage ? (
                <div class='flex bg-orange-500 bg-opacity-10 p-4 items-center justify-center'>
                    <Image src={urlFor(post.mainImage)?.url() ?? heroImage} alt='Cover Image' height='300' width='400' />
                </div>
            ) : (
                <div class='bg-orange-500 bg-opacity-10 w-full' />
            )
        }
        <div class='p-4 flex flex-col w-full space-y-4 lg:flex-row lg:space-y-0 lg:justify-between'>
            <h2 class='font-visby-heavy text-4xl lg:w-1/2 text-start'>{post.title}</h2>
            <p class='font-visby-medium text-xl lg:w-1/2'>{post.description}</p>
        </div>
    </a>
</article>
