---
interface Props {
    title: string;
    body: string;
    icon: string;
    backgroundColor: string;
}

const { icon, backgroundColor, title, body } = Astro.props satisfies Props;
---

<div
    class='flex w-[22rem] flex-col items-center space-y-6 rounded-xl p-4 shadow-md md:w-[23rem] md:p-6 lg:w-[28rem]'
>
    <span
        class=`flex items-center justify-center h-fit w-fit p-2 lg:h-[12rem] lg:w-[12rem] rounded-full ${backgroundColor}`
    >
        <span class=`${icon} h-[6rem] w-[6rem] lg:h-[9rem] lg:w-[9rem] rounded-full text-white`
        ></span>
    </span>
    <h2 class='text-center font-visby-medium text-3xl'>
        {title}
    </h2>
    <p class='text-center font-visby-medium text-lg'>
        {body}
    </p>
</div>
