<footer class='bottom-0 mt-auto flex h-[20%] flex-col justify-center bg-gray-400'>
    <p class='text-center'>&copy 2024 NurtureLume</p>
    <div class='flex items-center justify-center space-x-4'>
        <a class='text-black hover:text-blue-500' href='/privacy'>Privacy</a>
        <a class='text-black hover:text-blue-500' href='/contact-us'>Contact Us</a>
    </div>
</footer>
