---
import ModalButton from './ModalButton';
import { Image } from 'astro:assets';
import heroImage from '../assets/images/Hero-Image.png';

interface Props {
    header: string;
    subHeader: string;
    imageSrc?: any;
}

let { header, subHeader, imageSrc } = Astro.props satisfies Props;

if (!imageSrc) {
    imageSrc = heroImage;
}
---

<section
    id='hero-section'
    class=`mb-10 flex flex-col md:flex-row md:h-[75%] px-4 pt-36 md:pt-10 md:px-10 lg:px-16 xl:px-24`
    transition:animate='slide'
>
    <div
        class='flex h-full flex-col items-center justify-center space-y-12 bg-transparent md:w-1/2 md:items-start'
    >
        <h1 class='text-center font-visby-heavy text-5xl md:text-start xl:text-[64px]'>
            {header}
        </h1>
        <slot />
        <div class='mt-48'>
            <div>
                <ModalButton buttonKey='1' client:visible />
            </div>
        </div>
    </div>
    <div class='mt-10 justify-center md:mt-24 md:flex md:w-1/2'>
        <Image src={imageSrc} alt='Hero Image' loading='eager' height='500' width='650' />
    </div>
</section>
<form name='contactForm' netlify netlify-honeypot='bot-field' hidden>
    <input type='checkbox' name='families' />
    <input type='checkbox' name='babysitters' />
    <input type='checkbox' name='daycare' />
    <input type='email' name='email' />
</form>
