---
import ModalButton from './ModalButton';
import { Image } from 'astro:assets';
import heroImage from '../assets/images/Hero-Image.png';

interface Props {
    header: string;
    subHeader: string;
    imageSrc?: any;
}

let { header, subHeader, imageSrc } = Astro.props satisfies Props;

if (!imageSrc) {
    imageSrc = heroImage;
}
---

<section
    id='hero-section'
    class=`mb-10 flex flex-col md:flex-row md:h-[75%] px-4 pt-36 md:pt-10 md:px-10 lg:px-16 xl:px-24`
    transition:animate='slide'
>
    <div
        class='flex h-full flex-col items-center justify-center space-y-12 bg-transparent md:w-1/2 md:items-start'
    >
        <h1 class='text-center font-visby-heavy text-5xl md:text-start xl:text-[64px]'>
            {header}
        </h1>
        <slot />
        <div class='mt-48'>
            <div>
                <ModalButton buttonKey='1' client:visible />
            </div>
        </div>
    </div>
    <div class='mt-10 justify-center md:mt-24 md:flex md:w-1/2'>
        <Image src={imageSrc} alt='Hero Image' loading='eager' height='500' width='650' />
    </div>
</section>
<form name='contactForm' data-netlify="true" netlify-honeypot="bot-field" hidden>
                        <h3>
                            Hi there! Tap in and join the pre-launch list to stay up to date with
                            upcoming announcements, features, and more!{' '}
                        </h3>
                        <h4 >
                            Check one or more boxes of which applies to you.
                        </h4>
                        <div >
                            <input
                                type='checkbox'
                                id='families'
                                name='families'
                            />
                            <label
                                for='families'
                            >
                                Families
                            </label>
                        </div>
                        <div>
                            <input
                                type='checkbox'
                                id='babysitters'
                                name='babysitters'
                            />
                            <label
                                for='babysitters'
                            >
                                Babysitters & Nannies
                            </label>
                        </div>
                        <div>
                            <input
                                type='checkbox'
                                id='daycare'
                                name='daycare'
                            />
                            <label
                                for='daycare'
                            >
                                Daycare Centers & In-Home Daycare
                            </label>
                            <br />
                        </div>
                        <label
                            for='email'
                        >
                            Email Address
                        </label>
                        <input
                            type='email'
                            id='email'
                            name='email'
                        />
                    </form>
